.try
{
	font-size: 12px;

	}

.style
{
	font-family: "Oswald";
	font-size: 12px;
}
.header
{
	position: absolute;

}
.pic
{
	outline: 0;
	width: 50% ;
	height: 200px;
}

#img_header
{
    height: 200px;
    width: 300px;
    margin-left: 2%;
}